* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #9face6);
}


/* NAVBAR */
.navbar {
  background: #2d3436;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  animation: slideDown 0.8s ease;
}

.navbar a {
  color: #dfe6e9;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #0984e3;
}

/* GRID */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* CARD */
.blog-card {
  background: rgba(255, 255, 255, 0.827);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
  transform: translateY(20px);
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  transition: transform 0.4s ease;
}

.card-body {
    background-color: rgba(147, 188, 72, 0.752);
}

/* IMAGE */
.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.blog-card:hover img {
  transform: scale(1.08);
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* CONTENT */
.blog-content {
  padding: 20px;
}

.blog-content h3 {
  margin-bottom: 12px;
  font-size: 22px;
}

/* BUTTON */
.btn-view {
  display: inline-block;
  padding: 10px 18px;
  background-color: #a958b3;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-view:hover {
  background: #36c8d8;
  transform: scale(1.05);
}

/* ANIMATIONS */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
